<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Equipo 1 | Digitales</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar color="red" fixed>
          <v-toolbar-title class="white--text">Consumo de máquinas</v-toolbar-title>

          <div class="flex-grow-1"></div>
          <!-- v-if="$vuetify.breakpoint.smAndUp" -->
          <v-toolbar-items>
            <v-btn icon :href="base+'about'">
              <v-icon>mdi-information-variant</v-icon>
            </v-btn>
            <v-btn icon :href="base+'GestorMaquinas'">
              <v-icon>mdi-account-details</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-container>
          <v-card class="mx-auto" max-width="450" tile>
            <v-progress-linear v-if="loading" indeterminate></v-progress-linear>
            <v-card-title>Reportes de consumo</v-card-title>
            <v-card-text>
              <v-form>
                <v-select :disabled="loading" v-model="maquinaEscogida" :items="maquinasNombres" label="Máquina"
                  color="red" outlined>
                </v-select>
                <v-select :disabled="loading" v-model="periodoEscogido" :items="periodos" label="Tiempo" color="red"
                  outlined></v-select>
                <center v-if="periodoEscogido == 'Día'">
                  <v-date-picker v-model="dia" color="red" locale="es" :max="diaHoy"></v-date-picker>
                </center>
                <center v-if="periodoEscogido == 'Período'">
                  <h3>Escoger 2 días</h3>
                  <v-date-picker v-model="semana" range type="date" color="red" locale="es" :max="diaHoy">
                  </v-date-picker>
                </center>
                <center v-if="periodoEscogido == 'Mes'">
                  <v-date-picker v-model="mes" color="red" type="month" :max="mesHoy" locale="es">
                  </v-date-picker>
                </center>
                <br>
                <center>
                  <v-btn color="red" dark tile @click="comprobar()">Ver Reporte</v-btn>
                  <v-btn @click="limpiarCampos()" tile text outlined>Limpiar</v-btn>
                </center>
              </v-form>
            </v-card-text>
          </v-card>
          <br>
          <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
              <v-toolbar dark color="red">
                <v-btn icon dark @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>
                  <label>{{maquinaEscogida}} -</label>
                  <label v-if="periodoEscogido == 'Día'">{{dia}}</label>
                  <label v-if="periodoEscogido == 'Mes'">{{mes}}</label>
                  <label v-if="periodoEscogido == 'Semana'">{{semana}}</label>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-progress-circular v-if="loading" :width="3" indeterminate color="white">
                </v-progress-circular>
              </v-toolbar>
              <hr />
              <v-card-text>
                <h3 class="py-2">Grafica de consumo</h3>
                <canvas id="myChart" v-if="dialog"></canvas>
                <center>
                  <v-btn dark v-if="!loading" :href="peticion + '&download=true&access-token=' + token">EXPORTAR A EXCEL
                    <v-icon>mdi-file-excel
                    </v-icon>
                  </v-btn>
                </center>
                <br />
                <h3 class="pb-2">Tabla de consumo</h3>
                <v-data-table :headers="headers" :items="datos" :mobile-breakpoint=200 :items-per-page="5"
                  class="elevation-1" :loading="loading">
                </v-data-table>
              </v-card-text>
            </v-card>
            <v-dialog>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
  <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      beforeMount() {
        this.token = this.$cookies.get('token')
        this.valid()
        this.getMaquinas()
      },
      data: {
        dialog: false,
        token: '',
        base: "/equipo1-nodejs/",  // base de la url en el servidor
        // base: "/", // base de la url localmente
        loading: false,
        show: false,
        consumos: [],
        labels: [],
        diaHoy: moment(new Date()).format("YYYY-MM-DD"),
        mesHoy: moment(new Date()).format("YYYY-MM"),
        dia: moment(new Date()).format("YYYY-MM-DD"),
        mes: moment(new Date()).format("YYYY-MM"),
        semana: [moment(new Date()).format("YYYY-MM-DD")],
        datos: [],
        periodoEscogido: "",
        maquinaEscogida: "",
        periodos: ['Día', 'Período', 'Mes'],
        maquinas: [],
        items: [],
        maquinasNombres: [],
        headers: [],
        peticion: ""
      },
      watch: {
        periodoEscogido: function (newValue, oldValue) {
          console.log("Nuevo:" + newValue + " -Viejo:"+ oldValue)
          if (oldValue == 'Mes' && newValue == 'Período') {
            this.periodoEscogido = 'Día'
          }
        }
      },
      methods: {
        graph() {
          var ctx = document.getElementById('myChart');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: this.labels,
              datasets: [{
                label: "Consumo en kW/h",
                data: this.consumos,
                borderWidth: 1,
                borderColor: "red",
                fill: false,
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          this.ponerUnidades()
        },
        nextPage() {
          var a = document.createElement("a");
          document.body.appendChild(a);
          a.style = "display: none";
          a.href = ".." + this.base;
          a.click();
        },
        // verificacion
        async  valid() {
          this.loading = true
          var self = this
          var response = {}
          var url = "verificacion"
          var cookie = this.$cookies.get('token')
          try {
            uri = "http://167.249.40.70/equipo1-nodejs/" + url
            this.peticion = uri
            response = await axios.post(uri, { "access-token": cookie })
            if (response.data.success != true) {
              this.nextPage()
            }
          } catch (error) {
            console.log(error);

            try {
              uri = "http://172.60.2.149/equipo1-nodejs/" + url
              // this.peticion = url
              response = await axios.post(uri, { "access-token": cookie })
              if (response.data.success != true) {
                this.nextPage()
              }
            } catch (error) {
              alert("Error de conexión. Intente más tarde");
            }
          }
        },
        comprobar() {
          if (this.periodoEscogido == '' || this.maquinaEscogida == '') {
            alert("Escoger máquina y tiempo")
          } else if (this.periodoEscogido == 'Período' && this.semana.length != 2) {
            alert("Escoger 2 días")
          } else {
            this.dialog = true;
            this.datos = [];
            this.items = [];
            if (this.periodos[0] == this.periodoEscogido) {
              this.getDia();
            } else if (this.periodos[1] == this.periodoEscogido) {
              this.getSemana()
            } else if (this.periodos[2] == this.periodoEscogido) {
              this.getMes()
            }

          }
        },
        limpiarCampos() {
          this.periodoEscogido = ""
          this.maquinaEscogida = ""
          this.dia = moment(new Date()).format("YYYY-MM-DD")
          this.mes = moment(new Date()).format("YYYY-MM")
        },
        getMaquina() {
          var uid = undefined
          this.maquinas.forEach(element => {
            if (element.nombre == this.maquinaEscogida) {
              uid = element.uid
            }
          });
          return uid
        },

        /**
         * metodo que hace las consultas hacia el servidor
         */
        async getAllData(url) {
          this.loading = true
          var self = this
          var response = {}
          var uri = ""
          try {
            uri = "http://167.249.40.70/equipo1-nodejs/" + url
            this.peticion = uri
            response = await axios.get(uri, { headers: { timeout: 4000, "access-token": this.token } })
          } catch (error) {
            try {
              uri = "http://172.60.2.149/equipo1-nodejs/" + url
              this.peticion = uri
              response = await axios.get(uri, { timeout: 4000, "access-token": this.token })
            } catch (error) {
              alert("Error de conexión. Intente más tarde");
            }
          }

          this.datos = response.data;
          if (this.datos.length == 0) {
            alert("No existen datos para estos parámetros")
            this.dialog = false
          }
          this.items = response.data;
          this.show = true;
          self.loading = false;
          return response
        },

        ponerUnidades() {
          this.items.forEach(element => {
            element.consumo = Math.round(element.consumo * 100) / 100 + " kW/h"
          });
        },
        /**
          * trae los datos por dia
          */
        async getDia() {
          var uid_maquina = this.getMaquina()
          var url = "filtroDia?fecha=" + this.dia + "&uid=" + uid_maquina
          this.headers = [
            { text: 'Consumo (kW/h)', value: 'consumo' },
            { text: 'Hora Inicio', value: 'hora_inicio' },
            { text: 'Hora Final', value: 'hora_fin' },
          ]
          await this.getAllData(url)
          this.getConsumos()
          this.getLabels('this.labels.push(element.hora_fin.slice(11, 16))')
          this.graph()
        },

        // metodo que trae los datos por semana
        async getSemana() {
          this.semana.sort()
          var uid_maquina = this.getMaquina()
          var url = `filtroFecha?fecha_inicio=${this.semana[0]}&fecha_fin=${this.semana[1]}&uid=${uid_maquina}`
          await this.getAllData(url)
          this.headers = [
            { text: 'Dia', value: 'fecha' },
            { text: 'Consumo (kW/h)', value: 'consumo' },
          ]
          this.getConsumos()
          this.getLabels('this.labels.push(element.fecha)')
          this.graph()
        },

        //metodo que trae los datos por mes  
        async getMes() {
          var uid_maquina = this.getMaquina()
          var url = `filtroMes?mes=${this.mes}&uid=${uid_maquina}`
          await this.getAllData(url)
          this.headers = [
            { text: 'Dia', value: 'fecha' },
            { text: 'Consumo (kW/h)', value: 'consumo' },
          ]
          this.getConsumos()
          this.getLabels('this.labels.push(element.fecha)')
          this.graph()
        },

        async exportarExcel() {
          var url = this.peticion + "&download=true"
          try {
            uri = "http://167.249.40.70/equipo1-nodejs/" + url

            response = await axios.get(uri, { timeout: 4000 })
          } catch (error) {
            try {
              uri = "http://172.60.2.149/equipo1-nodejs/" + url
              response = await axios.get(uri, { timeout: 4000 })
            } catch (error) {
              alert("Error de conexión. Intente más tarde");
            }
          }
        },

        /**
         * mapea los consumos y las horas finales
         * */
        getConsumos() {
          this.consumos = []
          this.datos.forEach(element => {
            this.consumos.push(Math.round(element.consumo * 100) / 100)
          });
        },
        // metodo que trae las etiquetas dependiendo del tipo de report
        getLabels(condition) {
          this.labels = []
          this.datos.forEach(element => {
            eval(condition)
          });
        },

        async getMaquinas() {
          var url = 'maquinas'
          await this.getAllData(url)
          this.datos.forEach(element => {
            this.maquinas.push(element)
            this.maquinasNombres.push(element.nombre)
          });
        }
      }
    })
  </script>
  <style>
    #app {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>
</body>

</html>