<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Equipo 1 | Digitales</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-toolbar color="red">
                    <v-toolbar-title class="white--text">Consumo de máquinas</v-toolbar-title>

                    <div class="flex-grow-1"></div>
                    <!-- v-if="$vuetify.breakpoint.smAndUp" -->
                    <v-toolbar-items>
                        <v-btn icon href="http://167.249.40.70/equipo1-nodejs/about">
                            <v-icon>mdi-information-variant</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>mdi-account-details</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-container>
                    <v-card v-if="!valid" class="mx-auto" max-width="450" tile>
                        <v-card-title>Reportes de consumo</v-card-title>
                        <br>
                        <v-card-text>
                            <v-form>
                                <v-select v-model="maquinaEscogida" :items="maquinas" label="Máquina" color="red"
                                    outlined></v-select>
                                <v-select v-model="periodoEscogido" :items="periodos" label="Período" color="red"
                                    outlined></v-select>
                                <center v-if="periodoEscogido == 'Día'">
                                    <v-date-picker v-model="dia" color="red" locale="es" :max="diaHoy"></v-date-picker>
                                </center>
                                <center v-if="periodoEscogido == 'Mes'">
                                    <v-date-picker v-model="mes" color="red" type="month" :max="mesHoy" locale="es"></v-date-picker>
                                </center>
                                <br>
                                <center>
                                    <v-btn color="red" dark tile @click="comprobar()">Ver Reporte</v-btn>
                                    <v-btn @click="limpiarCampos()" tile text outlined>Limpiar</v-btn>
                                </center>
                            </v-form>
                        </v-card-text>
                    </v-card>
                    <br>
                    <v-card v-if="valid" class="mx-auto" max-width="450" tile>
                        <v-card-title>Consulta</v-card-title>
                        <br>
                        <v-card-text>
                            <p>Máquina: {{maquinaEscogida}}</p>
                            <p v-if="periodoEscogido == 'Día'">Día escogido: {{dia}}</p>
                            <p v-if="periodoEscogido == 'Mes'">Mes escogido: {{mes}}</p>
                        </v-card-text>
                    </v-card>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                valid: false,
                diaHoy: new Date().toISOString().substr(0, 10),
                mesHoy: new Date().toISOString().substr(0, 7),
                dia: new Date().toISOString().substr(0, 10),
                mes: new Date().toISOString().substr(0, 7),
                periodoEscogido: "",
                maquinaEscogida: "",
                periodos: ['Día', 'Semana', 'Mes'],
                maquinas: ['GoFresh', 'Carnets', 'Medicamentos']
            },
            methods: {
                comprobar() {
                    this.valid = this.periodoEscogido != '' && this.maquinaEscogida != ''
                },
                limpiarCampos() {
                    this.periodoEscogido = ""
                    this.maquinaEscogida = ""
                    this.dia = new Date().toISOString().substr(0, 10)
                    this.mes = new Date().toISOString().substr(0, 7)
                }
            }
        })
    </script>
    <style>
        #app {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</body>

</html>