<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Equipo 1 | Digitales</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar color="red" fixed>
          <v-toolbar-title class="white--text">Máquinas UdeM</v-toolbar-title>

          <div class="flex-grow-1"></div>
          <!-- v-if="$vuetify.breakpoint.smAndUp" -->
          <v-toolbar-items>
            <v-btn href="/equipo1-nodejs/" depressed text>
              <v-icon>mdi-arrow-left</v-icon>
              Volver
            </v-btn>
            <v-btn icon :href="base+'about'">
              <v-icon>mdi-information-variant</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container>
          <v-layout align-center justify-center v-if="!logged">
            <v-card width="400">
              <v-card-title>
                <v-spacer></v-spacer>
                Gestionar máquina
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text>
                <v-text-field label="Usuario" v-model="username"></v-text-field>
                <v-text-field label="Contraseña" type="password" v-model="password"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn dark color="red" @click="login()" :loading="loading">
                  Ingresar
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-layout>
          <v-snackbar v-model="snackbar" :timeout="3500" :color="snackcolor">
            <center>
              <strong>{{ snackbartext }}</strong>
            </center>
          </v-snackbar>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        base: "/",
        dialog: false,
        dialogDelete: false,
        snackbar: false,
        snackbartext: '',
        snackcolor: '',
        username: "",
        password: "",
        logged: false,
        auth: false,
        user: '',
        loading: false,
      },
      methods: {
        //   metodo de login
        async login() {
          this.loading = true
          var url = `autenticar?usuario=${this.username}&&contraseña=${this.password}`
          try {
            uri = "http://167.249.40.70/equipo1-nodejs/" + url
            response = await axios.put(uri, maquina, { timeout: 4000 })
            console.log(response);
          } catch (error) {
            try {
              uri = "http://172.60.2.149/equipo1-nodejs/" + url
              response = await axios.put(uri, maquina, { timeout: 4000 })
              console.log(response);

            } catch (error) {
              alert("Error de conexión. Intente más tarde");
            }
          }
        }
      }
    })
  </script>
  <style>
    #app {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>
</body>

</html>